@import '../../styles/variables.scss';

.block {
  width: 150px;
  padding: 11px;
  background: #2e3035;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    box-shadow: 3px 4px 7px 8px rgba(34, 60, 80, 0.2);
  }

  .header {
    .hash {
      font-weight: 500;
      font-size: 18px;
      color: $white;
      margin-bottom: 7px;
    }
    .date {
      color: #939cb0;
      font-size: 14px;
      margin-bottom: 9px;
    }
  }

  .img {
    margin-bottom: 7px;
  }

  .footer {
    .count,
    .gasSum {
      margin-bottom: 4px;
    }

    .count {
      font-size: 16px;
      color: $white;
      margin-bottom: 4px;
    }

    .gasSum,
    .valueSum {
      font-size: 13px;
      color: #939cb0;
    }
  }
}
