.headerWrapper {
  display: flex;
}
.titleWrapper {
  display: flex;
  align-items: center;
}

.ulWrapper {
  margin: 0;
  padding: 0;
  color: #fff;
}

.title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  margin-bottom: 14px;
  margin-right: 13px;
  display: inline-block;
}

.item {
  color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  p {
    color: #fff;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.set {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}
